@import url(https://fonts.googleapis.com/earlyaccess/droidarabicnaskh.css);

* {font-family: 'Droid Arabic Naskh', serif;}

 .buttonGo {
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: hsl(61, 76%, 50%);
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  
  .buttonGo:hover {background-color: rgb(230, 144, 15)}
  
  .buttonGo:active {
    background-color: #3e8e41;
    box-shadow: 0 5px rgb(187, 219, 42);
    transform: translateY(4px);
  } 
.complet:after{ 
    content: ' \2714';
    font-size: 2rem;
    color: hsl(22, 69%, 51%);
    
 }
 .buttonload {
  background-color: hsl(27, 76%, 49%); /* Green background */
  border: none; /* Remove borders */
  color: white; /* White text */
  padding: 15px 22px; /* Some padding */
  font-size: 20px; /* Set a font-size */
}
/* Add a right margin to each icon */
.fa {
  margin-left: -12px;
  margin-right: 8px;
}

#dropbtn {
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

#dropdown {
  font-size: small;
  position: fixed;
  display: inline-block;
}

#dropdown-content {

  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

#dropdown-content a {
  font-family: system-ui;
  font-weight: bolder;
  text-align: left;
  color: #332100;
  padding: 6px 5px;
  background-color: #d4d4d8;
  text-decoration: none;
  display: block;
}

#dropdown-content a:hover { background-color: rgb(75, 77, 65);}

#dropdown:hover #dropdown-content {display: block;}

#dropdown:hover #dropbtn {background-color: #332100;}